<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetoAutorizacoesPredioApp.aluno.home.title">Alunos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aluno" [routerLink]="['/aluno/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetoAutorizacoesPredioApp.aluno.home.createLabel">
            Create a new Aluno
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="alunos?.length === 0">
        <span jhiTranslate="projetoAutorizacoesPredioApp.aluno.home.notFound">No alunos found</span>
    </div>
    <div class="table-responsive" *ngIf="alunos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.nome">Nome</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.cpf">Cpf</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.matricula">Matricula</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.turma">Turma</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.ano">Ano</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.curso">Curso</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aluno of alunos ;trackBy: trackId">
                <td><a [routerLink]="['/aluno', aluno.id, 'view' ]">{{aluno.id}}</a></td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.cpf}}</td>
                <td>{{aluno.matricula}}</td>
                <td>{{aluno.turma}}</td>
                <td>{{aluno.ano}}</td>
                <td jhiTranslate="{{'projetoAutorizacoesPredioApp.Curso.' + aluno.curso}}">{{aluno.curso}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/aluno', aluno.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/aluno', aluno.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(aluno)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
