<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-aluno-heading" jhiTranslate="projetoAutorizacoesPredioApp.aluno.home.createOrEditLabel">Create or edit a Aluno</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.aluno.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.aluno.cpf" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                           formControlName="cpf"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.aluno.matricula" for="field_matricula">Matricula</label>
                    <input type="text" class="form-control" name="matricula" id="field_matricula"
                           formControlName="matricula"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.aluno.turma" for="field_turma">Turma</label>
                    <input type="text" class="form-control" name="turma" id="field_turma"
                           formControlName="turma"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.aluno.ano" for="field_ano">Ano</label>
                    <input type="number" class="form-control" name="ano" id="field_ano"
                           formControlName="ano"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.aluno.curso" for="field_curso">Curso</label>
                    <select class="form-control" name="curso" formControlName="curso" id="field_curso">
                        <option value="SI">{{'projetoAutorizacoesPredioApp.Curso.SI' | translate}}</option>
                        <option value="EC">{{'projetoAutorizacoesPredioApp.Curso.EC' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('curso').invalid && (editForm.get('curso').dirty || editForm.get('curso').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('curso').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
