<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aluno">
            <h2><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.detail.title">Aluno</span> {{aluno.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.nome">Nome</span></dt>
                <dd>
                    <span>{{aluno.nome}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.cpf">Cpf</span></dt>
                <dd>
                    <span>{{aluno.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.matricula">Matricula</span></dt>
                <dd>
                    <span>{{aluno.matricula}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.turma">Turma</span></dt>
                <dd>
                    <span>{{aluno.turma}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.ano">Ano</span></dt>
                <dd>
                    <span>{{aluno.ano}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.aluno.curso">Curso</span></dt>
                <dd>
                    <span jhiTranslate="{{'projetoAutorizacoesPredioApp.Curso.' + aluno.curso}}">{{aluno.curso}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aluno', aluno.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
