<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetoAutorizacoesPredioApp.professor.home.title">Professors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-professor" [routerLink]="['/professor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetoAutorizacoesPredioApp.professor.home.createLabel">
            Create a new Professor
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="professors?.length === 0">
        <span jhiTranslate="projetoAutorizacoesPredioApp.professor.home.notFound">No professors found</span>
    </div>
    <div class="table-responsive" *ngIf="professors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.professor.nome">Nome</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.professor.siape">Siape</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.professor.faculdade">Faculdade</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let professor of professors ;trackBy: trackId">
                <td><a [routerLink]="['/professor', professor.id, 'view' ]">{{professor.id}}</a></td>
                <td>{{professor.nome}}</td>
                <td>{{professor.siape}}</td>
                <td>{{professor.faculdade}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/professor', professor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/professor', professor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(professor)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
