<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professor">
            <h2><span jhiTranslate="projetoAutorizacoesPredioApp.professor.detail.title">Professor</span> {{professor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.professor.nome">Nome</span></dt>
                <dd>
                    <span>{{professor.nome}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.professor.siape">Siape</span></dt>
                <dd>
                    <span>{{professor.siape}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.professor.faculdade">Faculdade</span></dt>
                <dd>
                    <span>{{professor.faculdade}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professor', professor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
