<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetoAutorizacoesPredioApp.sala.home.title">Salas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sala" [routerLink]="['/sala/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetoAutorizacoesPredioApp.sala.home.createLabel">
            Create a new Sala
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="salas?.length === 0">
        <span jhiTranslate="projetoAutorizacoesPredioApp.sala.home.notFound">No salas found</span>
    </div>
    <div class="table-responsive" *ngIf="salas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.sala.nome">Nome</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sala of salas ;trackBy: trackId">
                <td><a [routerLink]="['/sala', sala.id, 'view' ]">{{sala.id}}</a></td>
                <td>{{sala.nome}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sala', sala.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sala', sala.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(sala)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
