<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.home.title">Autorizacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-autorizacao" [routerLink]="['/autorizacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.home.createLabel">
            Create a new Autorizacao
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="autorizacaos?.length === 0">
        <span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.home.notFound">No autorizacaos found</span>
    </div>
    <div class="table-responsive" *ngIf="autorizacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.dataInicio">Data Inicio</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.dataFim">Data Fim</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.motivo">Motivo</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.alunos">Alunos</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.professor">Professor</span></th>
            <th scope="col" ><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.sala">Sala</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let autorizacao of autorizacaos ;trackBy: trackId">
                <td><a [routerLink]="['/autorizacao', autorizacao.id, 'view' ]">{{autorizacao.id}}</a></td>
                <td>{{autorizacao.dataInicio | date:'mediumDate'}}</td>
                <td>{{autorizacao.dataFim | date:'mediumDate'}}</td>
                <td>{{autorizacao.motivo}}</td>
                <td>
                    <span *ngFor="let alunos of autorizacao.alunos; let last = last">
                            <a class="form-control-static" [routerLink]="['/aluno', alunos?.id, 'view' ]">{{alunos.nome}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="autorizacao.professor">
                        <a [routerLink]="['/professor', autorizacao.professor?.id, 'view' ]" >{{autorizacao.professor?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="autorizacao.sala">
                        <a [routerLink]="['/sala', autorizacao.sala?.id, 'view' ]" >{{autorizacao.sala?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/autorizacao', autorizacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/autorizacao', autorizacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(autorizacao)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
