<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-autorizacao-heading" jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.home.createOrEditLabel">Create or edit a Autorizacao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.dataInicio" for="field_dataInicio">Data Inicio</label>
                    <div class="input-group">
                        <input id="field_dataInicio" type="text" class="form-control" name="dataInicio" ngbDatepicker  #dataInicioDp="ngbDatepicker" formControlName="dataInicio"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataInicioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataInicio').invalid && (editForm.get('dataInicio').dirty || editForm.get('dataInicio').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataInicio').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.dataFim" for="field_dataFim">Data Fim</label>
                    <div class="input-group">
                        <input id="field_dataFim" type="text" class="form-control" name="dataFim" ngbDatepicker  #dataFimDp="ngbDatepicker" formControlName="dataFim"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataFimDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataFim').invalid && (editForm.get('dataFim').dirty || editForm.get('dataFim').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataFim').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.motivo" for="field_motivo">Motivo</label>
                    <input type="text" class="form-control" name="motivo" id="field_motivo"
                           formControlName="motivo"/>
                    <div *ngIf="editForm.get('motivo').invalid && (editForm.get('motivo').dirty || editForm.get('motivo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('motivo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.alunos" for="field_alunos">Alunos</label>
                    <select class="form-control" id="field_alunos" multiple name="alunos" formControlName="alunos">
                        <option [ngValue]="getSelected(editForm.get('alunos').value, alunoOption)" *ngFor="let alunoOption of alunos; trackBy: trackAlunoById">{{alunoOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.professor" for="field_professor">Professor</label>
                    <select class="form-control" id="field_professor" name="professor" formControlName="professor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="professorOption.id === editForm.get('professor').value?.id ? editForm.get('professor').value : professorOption" *ngFor="let professorOption of professors; trackBy: trackProfessorById">{{professorOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.sala" for="field_sala">Sala</label>
                    <select class="form-control" id="field_sala" name="sala" formControlName="sala">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="salaOption.id === editForm.get('sala').value?.id ? editForm.get('sala').value : salaOption" *ngFor="let salaOption of salas; trackBy: trackSalaById">{{salaOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
