<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="autorizacao">
            <h2><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.detail.title">Autorizacao</span> {{autorizacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{autorizacao.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{autorizacao.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.motivo">Motivo</span></dt>
                <dd>
                    <span>{{autorizacao.motivo}}</span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.alunos">Alunos</span></dt>
                <dd>
                    <span *ngFor="let alunos of autorizacao.alunos; let last = last">
                        <a [routerLink]="['/aluno', alunos?.id, 'view' ]">{{alunos.nome}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.professor">Professor</span></dt>
                <dd>
                    <div *ngIf="autorizacao.professor">
                        <a [routerLink]="['/professor', autorizacao.professor?.id, 'view']">{{autorizacao.professor?.nome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetoAutorizacoesPredioApp.autorizacao.sala">Sala</span></dt>
                <dd>
                    <div *ngIf="autorizacao.sala">
                        <a [routerLink]="['/sala', autorizacao.sala?.id, 'view']">{{autorizacao.sala?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/autorizacao', autorizacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
